<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>BLOG | SignIn</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css">

    <link rel='stylesheet prefetch' href='http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700,900|RobotoDraft:400,100,300,500,700,900'>
    <link rel='stylesheet prefetch' href='http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css'>

    <link rel="stylesheet" href="assets/css/style.css">


</head>

<body>
    <div class="pen-title">
        <h1>BLOG | SignIn</h1><span>Web <i class='fa fa-globe'></i> & <i class='fa fa-code'></i> by <a href='http://www.github.com/deep6750' target="">Akash Deep Mishra</a></span>
        <br>
		<span><a href="/" style="color:red;">Home</a></span>
        <span>|&nbsp;<a href="/signup" style="color:red;">SignUp</a></span>
    </div>
    <div class="module form-module">
        <div>
        </div>
    
    <div class="form">
        <h2>Login to your account</h2>
        <form method="post">
            <input type="text" name="username" placeholder="Username" value="{{username}}" />
            <input type="password" name="password" placeholder="Password" />
            <div>{{error}}</div>
            <input type="submit" value="SignIn">
        </form>
    </div>

    <div class="cta">Keep Blogging</div>
	</div>
    <script src='http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
</body>

</html>
